<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>CAVS -&gt; HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q0FWUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PC00 -&gt; PCI0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UEMwMA==</data>
					<key>Replace</key>
					<data>UENJMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SL05 -&gt; GFX0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0wwNQ==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI -&gt; XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EC0_ -&gt; EC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>H_EC -&gt; EC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBE1 -&gt; ETH0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JFMQ==</data>
					<key>Replace</key>
					<data>RVRIMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>D0A4 -&gt; ETH1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RDBBNA==</data>
					<key>Replace</key>
					<data>RVRIMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HEC1 -&gt; IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDMQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IDER-&gt;MEID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SURFUg==</data>
					<key>Replace</key>
					<data>TUVJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PMC1 -&gt; PMCR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UE1DMQ==</data>
					<key>Replace</key>
					<data>UE1DUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC0 -&gt; LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDMA==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FPU_ -&gt; MATH</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RlBVXw==</data>
					<key>Replace</key>
					<data>TUFUSA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TMR_ -&gt; TIMR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VE1SXw==</data>
					<key>Replace</key>
					<data>VElNUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PIC_ -&gt; IPIC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UElDXw==</data>
					<key>Replace</key>
					<data>SVBJQw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SLOC -&gt; ARPT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0wwQw==</data>
					<key>Replace</key>
					<data>QVJQVA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_DSM -&gt; XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBS._ADR -&gt; XSBU.XADR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUwhfQURS</data>
					<key>Replace</key>
					<data>WFNCVQhYQURS</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 darkwake=0</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict/>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>7</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>Minimalism</string>
	</dict>
	<key>Graphics</key>
	<dict/>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>xcpm_core_scope_msrs © Pike R. Alpha</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>vgMAAAAx0uhy/P//</data>
				<key>Replace</key>
				<data>vgMAAAAx0pCQkJCQ</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSD Trim Enabler</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port Limit Patch ©PMHeart</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32UDw+DlwQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32UGpCQkJCQkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>F1/F2 Key Patch 1 ©Wern</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MHgwMDA3MDAzYSwweGZmMDEwMDIx</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHIDKeyboard</string>
				<key>Replace</key>
				<data>MHgwMDA3MDAzYSwweDAwMDcwMDNh</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>F1/F2 Key Patch 2 ©Wern</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MHgwMDA3MDAzYiwweGZmMDEwMDIw</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHIDKeyboard</string>
				<key>Replace</key>
				<data>MHgwMDA3MDAzYiwweDAwMDcwMDNi</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>FredWst DP/HDMI patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>3hDvEA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IMP11.88Z.0064.B30.1712081714</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMacPro-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>iMac Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF53E</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>iMacPro1,1</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
